@model IEnumerable<Akademinya.Models.AlisverisSepeti>
@using Akademinya.Models
@{
    ViewBag.Title = "AlisverisSepeti";
    AkademinyaEntities db = new AkademinyaEntities();
    Uye uye = null;
    if (Request.Cookies["userGuid"] != null)
    {
        if (Request.Cookies["userGuid"].Value != "")
        {
            var userGuid = Request.Cookies["userGuid"].Value;
            uye = db.Uye.FirstOrDefault(x => x.CookieGuid == userGuid);

        }
    }
}

<!-- Cart -->

<div class="cart_section" style="background-color:white">
    <div class="container">

        <div class="card shopping-cart" style="max-width:none">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Alışveriş sepeti

                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <!-- PRODUCT -->
                @if (Model == null || Model.Count() == 0)
                {
                    <p>Alışveriş sepetiniz boş, kurs eklemek için tıklayınız.</p>
                    <a href="/" class="btn btn-outline-info btn-sm">Alışverişe devam et</a>
                }
                else
                {
                    foreach (var item in Model)
                    {
                    <div class="row">
                        <a href="../Kurslar/KursDetay/@item.KursID">
                            <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="@item.Kurs.Resim" alt="prewiew" width="120" height="80">
                            </div>
                        </a>
                        <a href="../Kurslar/KursDetay/@item.KursID"style="width:50%">
                            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                <h4 class="product-name"><strong>@item.Kurs.Ad</strong></h4>
                                <h4>
                                    <small>@item.Kurs.Acikklama</small>
                                </h4>
                            </div>
                        </a>
                            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px;margin: auto;">
                                    <h6><strong>@item.Kurs.Fiyat<span class="text-muted">₺</span></strong></h6>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4">
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 text-right" style=" margin:auto">
                                    <button type="button" class="btn btn-outline-danger btn-xs" onclick="return SepettenCikar(@item.Id)" style="width:unset;">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                    </div>
                        <hr>
                    }
                }

            </div>
            <div class="card-footer">
                @{
                    decimal? toplam = 0;
                    foreach (var item in Model)
                    {
                        toplam += item.Kurs.Fiyat;
                    }
                }
                <div class="pull-right" style="margin: 10px">
                    @if (ViewBag.SepetSayi >= 1)
                    {
                        if (uye == null)
                        {
                            <a href="#" onclick="return islemler.GirisYap()" class="btn btn-success pull-right">Öde</a>
                        }
                        else
                        {
                            <a href="/Odeme" class="btn btn-success pull-right">Öde</a>
                        }

                        <div class="pull-right" style="margin: 5px">
                            Toplam tutar: <b>@toplam ₺</b>
                        </div>
                    }
                    else
                    {
                        @*<button class="btn btn-success pull-right" title="Sepette ürün bulunmamakta" disabled>Öde</button>*@
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function KartSil(Id) {
        bootbox.confirm({
            message: "Silmek istediğinize emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Sil',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Iptal',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var dataObject = {
                        Id: $("#Id").val()
                    };
                    var form_data = new FormData();
                    form_data.append('Id', dataObject);
                    window.location = '/KartSil/' + Id;
                }
            }
        });
    }
    function SepettenCikar(Id) {
        bootbox.confirm({
            message: "Sepetten çıkarmak istediğinize emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Sil',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Iptal',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "/SepettenCikar/" + Id,
                        async: false,
                        type: "post",

                        success: function (sonuc) {
                            window.location.reload();
                            //$(".sepetbuton").val("Sepete Eklendi")

                        }
                    })
                }
            }
            //return false;
        });
    }
</script>