@model IEnumerable<Akademinya.Models.Kurs>
@using Akademinya.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AkademinyaEntities db = new AkademinyaEntities();
    Uye uye = null;
    if (Request.Cookies["userGuid"] != null)
    {
        if (Request.Cookies["userGuid"].Value != "")
        {
            var userGuid = Request.Cookies["userGuid"].Value;
            uye = db.Uye.FirstOrDefault(x => x.CookieGuid == userGuid);

        }
    }
}

<div class="shop">
    <div class="container">
        <div style="margin-top:20px">
            <!-- Shop Content -->

            <div class="cat-name">Yazılım Kursları</div>
            <p>Yazılım kurslarımıza katılarak iş hayatına bir adım önde başlayın</p>
            <div class="main-content">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.Where(x => x.UstKategoriID == 1))
                    {
                    <div class="item card col-lg-3 col-md-4" style="height:350px">
                        <a href="../Kurslar/KursDetay/@item.Id" style="height: 75%;">
                            <div class="img-responsive" style="height:145px">
                                <img src="@item.Resim" alt="Denim Jeans" style="width:100%;height:100%">
                            </div>

                            <h4>@item.Ad</h4>
                            @if (item.Ücretsiz == true)
                            {
                                <p class="card-price">Ücretsiz</p>
                            }
                            else
                            {
                                <p class="card-price">@item.Fiyat ₺</p>
                            }
                        </a>
                        @*<p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>*@
                        <p style="position: absolute;bottom: 0;left: 0%; width: 100%;padding: inherit;">
                            @if (item.Ücretsiz == true)
                            {
                                if (uye == null)
                                {
                                    <button onclick="return islemler.GirisYap()">Hemen kaydol</button>
                                }
                                else
                                {
                                    <button onclick="return HemenKaydol(@item.Id);">Hemen kaydol</button>
                                }
                            }
                            else
                            {<button onclick="window.location.href='../Kurslar/KursDetay/@item.Id'">Kursa git</button>
                            }
                        </p>
                    </div>
                    }

                </div>
                <div class="owl-theme" style="position: unset;">
                    <div class="owl-controls" style="position: unset;">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div style="margin-top:20px">
            <!-- Shop Content -->

            <div class="cat-name">Yemek Kursları</div>
            <p>Yemek kurslarına hemen katılarak en güzel şekilde yemek yapmayı öğrenin</p>
            <div class="main-content2">
                <div id="owl-car" class="owl-carousel owl-theme">
                    @foreach (var item in Model.Where(x => x.UstKategoriID == 7))
                    {
                        <div class="item card col-lg-3 col-md-4" style="height:350px">
                            <a href="../Kurslar/KursDetay/@item.Id" style="height: 75%;">
                                <div class="img-responsive" style="height:145px">
                                    <img src="@item.Resim" alt="Denim Jeans" style="width:100%;height:100%">
                                </div>

                                <h4>@item.Ad</h4>
                                @if (item.Ücretsiz == true)
                                {
                                    <p class="card-price">Ücretsiz</p>
                                }
                                else
                                {
                                    <p class="card-price">@item.Fiyat ₺</p>
                                }
                            </a>
                            @*<p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>*@
                            <p style="position: absolute;bottom: 0;left: 0%; width: 100%;padding: inherit;">
                                @if (item.Ücretsiz == true)
                                {
                                    if (uye == null)
                                    {
                                        <button onclick="return islemler.GirisYap()">Hemen kaydol</button>

                                    }
                                    else
                                    {
                                        <button onclick="return HemenKaydol(@item.Id);">Hemen kaydol</button>
                                    }

                                }
                                else
                                {<button onclick="window.location.href='../Kurslar/KursDetay/@item.Id'">Kursa git</button>
                                }
                            </p>

                        </div>
                    }


                </div>
                <div class="owl-theme" style="position: unset;">
                    <div class="owl-controls" style="position: unset;">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div style="margin-top:20px">
            <!-- Shop Content -->

            <div class="cat-name">Finans Kursları</div>
            <p>Paranızı nasıl katlayacağınız, yöneteceğinizi öğrenin</p>
            <div class="main-content3">
                <div id="owl-car" class="owl-carousel owl-theme">
                    @foreach (var item in Model.Where(x => x.UstKategoriID == 4))
                    {
                        <div class="item card col-lg-3 col-md-4" style="height:350px">
                            <a href="../Kurslar/KursDetay/@item.Id" style="height: 75%;">
                                <div class="img-responsive" style="height:145px">
                                    <img src="@item.Resim" alt="Denim Jeans" style="width:100%;height:100%">
                                </div>

                                <h4>@item.Ad</h4>
                                @if (item.Ücretsiz == true)
                                {
                                    <p class="card-price">Ücretsiz</p>
                                }
                                else
                                {
                                    <p class="card-price">@item.Fiyat ₺</p>
                                }
                            </a>
                            @*<p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>*@
                            <p style="position: absolute;bottom: 0;left: 0%; width: 100%;padding: inherit;">
                                @if (item.Ücretsiz == true)
                                {
                                    if (uye == null)
                                    {
                                        <button onclick="return islemler.GirisYap()">Hemen kaydol</button>

                                    }
                                    else
                                    {
                                        <button onclick="return HemenKaydol(@item.Id);">Hemen kaydol</button>
                                    }

                                }
                                else
                                {<button onclick="window.location.href='../Kurslar/KursDetay/@item.Id'">Kursa git</button>
                                }
                            </p>

                        </div>
                    }


                </div>
                <div class="owl-theme" style="position: unset;">
                    <div class="owl-controls" style="position: unset;">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div style="margin-top:20px">
            <!-- Shop Content -->

            <div class="cat-name">Fotoğrafçılık Kursları</div>
            <p>Fotoğrafçılık kurslarımızdan alarak en güzel fotoğrafları çekmeyi öğrenin</p>
            <div class="main-content4">
                <div id="owl-car" class="owl-carousel owl-theme">
                    @foreach (var item in Model.Where(x => x.UstKategoriID == 1011))
                    {
                        <div class="item card col-lg-3 col-md-4" style="height:350px">
                            <a href="../Kurslar/KursDetay/@item.Id" style="height: 75%;">
                                <div class="img-responsive" style="height:145px">
                                    <img src="@item.Resim" alt="Denim Jeans" style="width:100%;height:100%">
                                </div>

                                <h4>@item.Ad</h4>
                                @if (item.Ücretsiz == true)
                                {
                                    <p class="card-price">Ücretsiz</p>
                                }
                                else
                                {
                                    <p class="card-price">@item.Fiyat ₺</p>
                                }
                            </a>
                            @*<p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>*@
                            <p style="position: absolute;bottom: 0;left: 0%; width: 100%;padding: inherit;">
                                @if (item.Ücretsiz == true)
                                {
                                    if (uye == null)
                                    {
                                        <button onclick="return islemler.GirisYap()">Hemen kaydol</button>

                                    }
                                    else
                                    {
                                        <button onclick="return HemenKaydol(@item.Id);">Hemen kaydol</button>
                                    }

                                }
                                else
                                {<button onclick="window.location.href='../Kurslar/KursDetay/@item.Id'">Kursa git</button>
                                }
                            </p>

                        </div>
                    }


                </div>
                <div class="owl-theme" style="position: unset;">
                    <div class="owl-controls" style="position: unset;">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>

        </div>
        <hr />

    </div>
</div>

<script src="/Content/OneTech/js/jquery-3.3.1.min.js"></script>
<script>
    function HemenKaydol(Id) {
        window.location = '/UcretsizKursKayit/' + Id;
    }
    $(document).ready(function () {
        $('.main-content .owl-carousel').owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.main-content .custom-nav',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
        $('.main-content2 .owl-carousel').owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.main-content2 .custom-nav',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });

        $('.main-content3 .owl-carousel').owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.main-content3 .custom-nav',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
        $('.main-content4 .owl-carousel').owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.main-content4 .custom-nav',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });

    });

</script>