@model Akademinya.Models.Kurs
@using Akademinya.Models
@{
    ViewBag.Title = "KursDetay";

    AkademinyaEntities db = new AkademinyaEntities();
    Uye uye = null;
    var guid = Akademinya.Controllers.Genel.guidKontrol();
    var sepet = db.AlisverisSepeti.ToList().Where(x => x.Guid == guid);

    if (Request.Cookies["userGuid"] != null)
    {
        if (Request.Cookies["userGuid"].Value != "")
        {
            var userGuid = Request.Cookies["userGuid"].Value;
            uye = db.Uye.FirstOrDefault(x => x.CookieGuid == userGuid);
        }
    }

    var uyekurs = db.UyeKurs.ToList().Where(x => x.UyeID == 0);

    if (uye != null)
    {
        uyekurs = db.UyeKurs.ToList().Where(x => x.UyeID == uye.Id);
    }
}
@{//Yıldız rating için gerekli yerler
    var kayitliOgrenciSayisi = db.UyeKurs.Where(x => x.KursID == Model.Id).ToList().Count();
    var comments = (IEnumerable<Akademinya.Models.UyeKurs>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<div class="container" style="background-color:white">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">@Model.Ad</h1>
            <div class="starClass" style="display:inline-block">
                <div>
                    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
                </div>
            </div>
            <h5 style="display: inline-block;vertical-align: middle;"> @kayitliOgrenciSayisi Kayıtlı öğrenci</h5>
            <!-- Author -->
            <p class="lead">
                by
                <a href="#">Furkan</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p>January 1, 2019 at 12:00 PM tarihinde güncellendi</p>
            <hr>
            <!-- Preview Image -->
            @*<h4>@Model.Resim</h4>*@
            <div style="text-align:center">
                <img class="img-fluid rounded" style="height:260px" src="@Model.Resim" alt="">
            </div>

            <hr>
            <div>
                <h4>Kurs içerikleri</h4>
                <div class="kd">
                    <button class="accordion">1. Bölüm</button>
                    <div class="panel">
                        <p>1.video</p><hr />
                        <p>2.video</p><hr />
                        <p>3.video</p><hr />
                        <p>4.video</p><hr />
                    </div>
                    <button class="accordion">2. Bölüm</button>
                    <div class="panel">
                        <p>5.video</p><hr />
                        <p>6.video</p><hr />
                        <p>7.video</p><hr />
                        <p>8.video</p><hr />
                    </div>
                </div>
            </div>
            <!-- Post Content -->
            <h4>Açıklama</h4>
            <p class="lead">@Model.Acikklama</p>
            @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>*@
            <hr>
            <h4>Yorumlar</h4>
            <div style="margin-bottom:70px">

                @foreach (var c in comments)
                {
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="pull-left">
                            <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                        </a>
                    </div>
                    <div class="col-md-10" style="background-color:#eeeeee">
                        <div class="media-body">
                            <span class="text-muted pull-right">
                                <small class="text-muted">@c.DegerlendirmeTarihi.ToShortDateString()</small>
                            </span>
                            <strong class="text-success">@c.Uye.KullaniciAdi</strong>
                            <div class="starClass" style="display:inline-block;margin-left:20px">
                                @for (var i = 1; i <= c.KursPuan; i++)
                                {
                                    <span class="starGlowN"></span>
                                }
                                @for (var i = (c.KursPuan + 1); i <= 5; i++)
                                {
                                    <span class="starFadeN"></span>
                                }
                            </div>
                            <p>
                                @c.KursYorum
                            </p>
                        </div>

                    </div>

                </div>
                <hr />
                }
            </div>

            @*<!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                    </div>
                </div>*@
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">İçerik</h5>
                <div class="card-body">
                    @Model.Icerik
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">@Model.Fiyat ₺</h5>
                <div class="card-body">
                    @if (uyekurs.Any(x => x.KursID == Model.Id && x.UyeID == uye.Id))
                    {
                        <button type="button" onclick="return SepeteEkle(@Model.Id)">Kursa git</button>
                    }
                    else
                    {
                        if (sepet.Any(x => x.KursID == Model.Id))
                        {
                            <button type="button" onclick="return SepeteGit(@Model.Id)">Sepete Git</button>
                        }
                        else
                        {
                            <button type="button" onclick="return SepeteEkle(@Model.Id)">Sepete Ekle</button>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<script>

    //accordion baş
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
    //accordion son

    function SepeteEkle(Id) {
        window.location = '/SepeteEkle/' + Id;
    }
    function SepeteGit(Id) {
        window.location = '/AlisverisSepeti/';
    }
    //yıldız baş
    function SCRate() {

        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function () {
        SCRate();
    });
    //yıldız son

</script>